
body {
	background-image: url("img/header.jpg"); 
	background-repeat: no-repeat;
	background-position:top;
}
body {
	background-image: url("img/header.jpg"); 
	background-repeat: no-repeat;
	background-position:top;	
 }


body {
 	background-image: ("bg.png");
	background-position: center;
}

h1 {text-align: center;}
h2 {text-align: center;}
p  {text-align: center;}
ul {text-align: center;}